body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: top;
    background: 0 0;
}

header {
    background: red;
    background-size: cover;
    height: 60px;
    position: relative;
}
.menu_main{
    margin-left: 10%;
    list-style-type: none;
}
.menu_main li a {
    padding: 25px 10px;
}
.menu_main li a {
    color:white;
    display: block;
    padding: 19px 15px;
    font-size: 15px;
    text-decoration: none;
}



li {
    float: left;
  }
Marquee {
    width: 430px;
}

marquee {
    list-style-type: none;
    display: flexbox;
    float: left;
    width: 700px;
    padding: 0%;
    margin-left: 150px;
}

marquee li{
    margin-right: 25px;
}
marquee li a{
    text-decoration: none;
}

.News{
    padding: 5%;
}

.News td{
    font-size: 16px;
}

.social{
    list-style-type: none;
    float: right;
    margin-left: 155px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 50px;
}

.social li {
    margin-left: 25px;
}

.social li a{
    text-decoration: none;
}

main{
    padding: 2% 10% 2% 10%;
}

.HotNew {
    width: 260px;
    float: left;
}

.HotNew .ListNews{
    border: 1px solid #ddd;
    min-height: inherit;
}
.ListNews li a{
    text-decoration: none;
}

.ListNews li {
    width: 100px;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    list-style: none inside;
}
.ListNews li h2{
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
    display: inline;
}

.HotNews {
    width: 600px;
    margin-left: 15px;
    margin-right: 25%;
    float: right;
}

.HotNews a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.HotNews .Tittle {
    color: black;
    font-size: 16px;
}