body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: top;
    background: 0 0;
}

header {
    background: red;
    background-size: cover;
    height: 60px;
    position: relative;
}
.menu_main{
    margin-left: 10%;
    list-style-type: none;
}
.menu_main li a {
    padding: 25px 10px;
}
.menu_main li a {
    color:white;
    display: block;
    padding: 19px 15px;
    font-size: 15px;
    text-decoration: none;
}



li {
    float: left;
  }
Marquee {
    width: 430px;
}

marquee {
    list-style-type: none;
    display: flexbox;
    float: left;
    width: 700px;
    padding: 0%;
    margin-left: 150px;
}

marquee li{
    margin-right: 25px;
}
marquee li a{
    text-decoration: none;
}

.News{
    padding: 5%;
}

.News td{
    font-size: 16px;
}

.social{
    list-style-type: none;
    float: right;
    margin-left: 155px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 50px;
}

.social li {
    margin-left: 25px;
}

.social li a{
    text-decoration: none;
}

main{
    padding: 2% 10% 2% 10%;
}